<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/invoice.css">
</head>

<body>
   
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-5">
          <img src="../static/rotrylogo.png" class="rotry-logo"/>
        </div>
        <div class="col-lg-5"></div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-"></div>
        <div class="col-lg-12">
          <h1 class="text-center">ROTARY CLUB OF COIMBATORE NORTH TRUST</h1>
          <p class="text-center address mt-3">27/9,NivedhVikaspankajaMillRoad,Puliakulam,<br>Coimbatore,TamilNadu,India641045</p>
          <p class="rtn-name mr-3 text-center">80G Certificate</p>
        </div>
        <div class="col-lg-"></div>
      </div>
    </div>
    <div class="container mt-5 p-3">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <h2 class="mr-5">RECEIPT TO</h2>
          <p class="rtn-name mr-3">data['Name']</p>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-md-6">
              <p class="date-issued">DateIssued:</p>
              <p class="rece-no">Receipt No:</p>
            </div>
            <div class="col-md-6">
              <p class="date-issued">data['Date']</p>
              <p class="date-issued">001</p>
            </div>
          </div>
          
        </div>
        <div class="col-lg-1"></div>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <h4>DESCRIPTION</h3>
        </div>
        <div class="col-lg-4"></div>
        <div class="col-lg-4 px-5">
        <h4>SUBTOTAL</h3>  
        </div>
      </div>
      
    </div>
    
    <div class="container mt-2">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10 mr-3 hr-line">
          
        </div>
        <div class="col-lg-1"></div>
      </div>
      <div class="row mt-3 donte">
        <div class="col-lg-"></div>
        <div class="col-lg-4">
          <p>Donation<p>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-3 px-5">
        <p>data['Amount']</p>  
        </div>
        <div class="col-lg-1"></div>
      </div>
      <div class="row mt-3 donte">
        <div class="col-lg-"></div>
        <div class="col-lg-4">
          <p><p>
        </div>
        <div class="col-lg-5"></div>
        <div class="col-lg-3 px-5">
        <p></p>  
        </div>
        <div class="col-lg-1"></div>
      </div>  
    </div>
    
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <div class="row">
            <div class="col-md-9">
              <p>UPIID/ReciptNo:</p>
            </div>
            <div class="col-md-3">
              <p>data['UPI_traction_id']</p>
            </div>
          </div>
          
        </div>
        <div class="col-lg-8"></div>
        
      </div>
    </div>
    <div class="container mt-2">
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <p class="end">Contribution to Rotary Club of Coimbatore North Trust,which qualifies for tax benefit under BOG of the Income Tax Act,1961 vide letter No.AAATR1223NF20231 by the Director of Income Tax.</p>
        </div>
        <div class="col-lg-1"></div>
        
      </div>
    </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
</body>

</html>
 







































































































































